.distill-site-nav {
  color: rgba(255, 255, 255, 0.8);
  background-color: #6e8cab;
  font-size: 18px;
  font-weight: 300;
}

.distill-site-nav a {
  color: black;
  text-decoration: bold;
}

.distill-site-nav a:hover {
  color: white;
}

.distill-site-header {
}

.distill-site-footer {
  color: #7e99b4;
}


@media print {
  .distill-site-nav {
    display: none;
  }
}
